<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.claw.system.mapper.AreaMapper">

    <select id="getSubAreas" resultType="com.claw.system.vo.AreaVO">
        SELECT id, CONCAT(`name`,IFNULL(extra,''),suffix) AS name, parent_id, code
        FROM area
        WHERE parent_id = #{parentId}
    </select>

    <select id="getAreas" resultType="com.claw.system.vo.AreaVO">
        SELECT id, CONCAT(`name`,IFNULL(extra,''),suffix) AS name, parent_id, code
        FROM area
    </select>

</mapper>
